<div class="container">
  <div class="h4">Recent Flats</div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/paris');">
        <div class="card-category">PARIS, FRANCE</div>
        <div class="card-description">
    <h2>Sebastien's home</h2>
    <p>Charming room in Montmartre</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/sebastien">
  <a class="card-link" href="#" ></a>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/tokyo');">
  <div class="card-category">PARIS, FRANCE</div>
  <div class="card-description">
    <h2>Boris' home</h2>
    <p>Small flat in Tokyo</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/papillard">
  <a class="card-link" href="#" ></a>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/london');">
  <div class="card-category">London, UK</div>
  <div class="card-description">
    <h2>Romain's home</h2>
    <p>Nice flat in Piccadilly</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/romain">
  <a class="card-link" href="#" ></a>
</div>
</div>
</div>
</div>
